{% extends "header.html" %}
{% block body %}

<body class="body">

      <div class="container" align="center">
	  <img src="{{ url_for('static', filename='images/Rutas.png') }}">
	  
	  </div>
	  <div class="container" align="left">
		
		<h4>La mejor ruta utilizando el medio de transporte bus es la siguiente: </h4>
		<br>
		<p>*En el mapa puede ubicar las respectivas paradas*</p>
		<br>
		<center>{{ mejor_ruta }}</center>
		
		<h4> La distancia en kilómetros es:: </h4>
		<br>
		<center>{{ peso }}km</center>
		<br>
		
		<h4>Elija la compania de su preferencia:</h4>
		
		<div class="list-group"><center>
		<button type="button" class="list-group-item">Tuasa</button>
		<button type="button" class="list-group-item">Caribeños</button>
		<button type="button" class="list-group-item">La400</button>
		</center></div>
		
		<h4> Conductor asignado: </h4>
		<br>
		<center><p>Fracisco Bernard</p></center>
		
		<h4> Su tarifa es: </h4>
		<br>
		<center>{{ precio }}</center>
		<br>
		
        <center> <a href= " /confirmarViaje/"><button type= "button" class= "btn btn-primary" aria-label= "Left Align"
			style= "margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span> Confirmar viaje!
		</button></a>
		</center>
      </div>
	  	
</body>
{% endblock %}
