{% extends "header.html" %}
{% block body %}

<body class="body">

      <div class="container" align="center">
	  <img src="{{ url_for('static', filename='images/Rutas.png') }}">
	  
	  </div>
	  <div class="container" align="left">
		
		<h4>Se ha calculado su mejor ruta usando tren es la siguiente: </h4>
		<br>
		<p>*En el mapa puede ubicar las respectivas paradas*</p>
		<br>
		<center>{{ mejor_ruta }}</center>
		
		<h4> La distancia en kilómetros es:</h4>
		<br>
		<center>{{ peso }}km</center>
		<br>
		
		<h4>La compañía para su viaje es : </h4>
		
		<center>Incofer</center>
		
		<h4>Seleccione la fecha en que desea viajar: </h4>
		
		<div class="container">
			<div class="row">
				<div class='col-sm-6'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker1'>
							<input type='text' class="form-control" />
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
			<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
			</script>
			</div>
		</div>
		
		<h4> Su tarifa es de: </h4>
		<br>
		<center>{{ precio }}</center>
		<br>
		
        <center> <a href= " /confirmarViaje/"><button type= "button" class= "btn btn-primary" aria-label= "Left Align"
			style= "margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span> Confirmar viaje!
		</button></a>
		</center>
      </div>
	  	
</body>
{% endblock %}
